name: Fly Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency: deploy-group

    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Fly.io Secrets
        run: |
          cd ${{ secrets.FOLDER__API }}
          flyctl secrets set \
            JWTKEY="${{ secrets.JWTKEY }}" \
            CONNECTIONDB="${{ secrets.CONNECTIONDB }}" \
            EMAILSETTINGS__SMTPSERVER="${{ secrets.EMAILSETTINGS__SMTPSERVER }}" \
            EMAILSETTINGS__SMTPPORT="${{ secrets.EMAILSETTINGS__SMTPPORT }}" \
            EMAILSETTINGS__IMAPSERVER="${{ secrets.EMAILSETTINGS__IMAPSERVER }}" \
            EMAILSETTINGS__IMAPPORT="${{ secrets.EMAILSETTINGS__IMAPPORT }}" \
            EMAILSETTINGS__FROM="${{ secrets.EMAILSETTINGS__FROM }}" \
            EMAILSETTINGS__PASSWORD="${{ secrets.EMAILSETTINGS__PASSWORD }}" \
            KESTREL__CERTIFICATES__DEVELOPMENT__PASSWORD="${{ secrets.KESTREL__CERTIFICATES__DEVELOPMENT__PASSWORD }}"
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

      - name: Deploy to Fly.io
        run: |
          cd ${{ secrets.FOLDER__API }}
          flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
